@model IEnumerable<asiakasrekisteri.Models.Logins>

@{
    ViewBag.Title = "Admin";
}
<br />
<h2>Käyttäjätiedot</h2>
<br />
<p>
    <a type="button" class="btn btn-info btn-sm" href="@Url.Action("Create","Logins")">Lisää Käyttäjä</a>

</p>
<table class=" table table-hover  ">
    <thead class="alert-info">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody class=" table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a type="Button" class="btn btn-outline-info btn-sm" href="@Url.Action("Details", "Logins", new { id = item.LoginID })">Lisätietoja</a>              
                </td>
            </tr>
        }
    </tbody>

</table>