@model IEnumerable<asiakasrekisteri.Models.Logins>

@{
    ViewBag.Title = "Admin";
}
<br />
<h2>Käyttäjätiedot</h2>
<br />
<p>
    @Html.ActionLink("Lisää käyttäjä", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LoginID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LoginID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LoginID })
            </td>
        </tr>
    }

</table>