@model asiakasrekisteri.Models.Laskutusosoite

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h4>poistetaanko laskutustiedot?</h4>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ytunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ytunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sähköposti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakastiedot.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakastiedot.Nimi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            <button class="btn btn-outline-info">@Html.ActionLink("Takaisin", "Details")</button>

            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
