@model asiakasrekisteri.Models.Laskutusosoite

@{
    ViewBag.Title = "Details";
}

<br />
<br />


<div>
    <br />
    <h4>Laskutusosoite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ytunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ytunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sähköposti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakastiedot.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakastiedot.Nimi)
        </dd>

    </dl>
</div>
<hr />
<div>
    <a type="Button" class="btn btn-outline-info" href="@Url.Action("Edit", "Laskutusosoite", new {id = Model.LaskutustietoID })">Muokkaa</a>

    <a type="Button" class="btn btn-outline-danger" href="@Url.Action("Delete", "Laskutusosoite", new {id = Model.LaskutustietoID })">Poista tiedot</a>

    <a type="Button" class="btn btn-info" href="@Url.Action("Index", "Laskutusosoite", new {id = Model.LaskutustietoID })">Takaisin</a>
</div>
