@model IEnumerable<asiakasrekisteri.Models.Laskutusosoite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ytunnus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postinumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiakastiedot.Nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ytunnus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postinumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postitoimipaikka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sähköposti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakastiedot.Nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LaskutustietoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LaskutustietoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LaskutustietoID })
        </td>
    </tr>
}

</table>
