@model IEnumerable<asiakasrekisteri.Models.Laskutusosoite>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h1 style="font-size:50px" class="text-xl-center">Laskutustiedot</h1>
<br />
<p>
    <a type="Button" class="btn btn-info btn-sm" href="@Url.Action("Create", "Laskutusosoite")">uusi laskutustieto</a>

</p>
<table class=" table table-hover">
    <thead style="color:darkblue" class="alert-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ytunnus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postinumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postitoimipaikka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sähköposti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asiakastiedot.Nimi)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-bordered">
        @foreach (var item in Model)
        {
            <tr class="text-capitalize">
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ytunnus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osoite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postinumero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postitoimipaikka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sähköposti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asiakastiedot.Nimi)
                </td>
                <td></td>
                <td></td>
                <td>
                    <a type="Button" class="btn btn-outline-info btn-sm" href="@Url.Action("Details", "Laskutusosoite", new {id = item.LaskutustietoID })">Lisätietoja</a>
                </td>
            </tr>
        }
    </tbody>
</table>
