@model asiakasrekisteri.Models.Asiakasluokittelu

@{
    ViewBag.Title = "Delete";
}

<br />

<h3>Poistetaanko luokittelu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toimiala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimiala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liitto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liitto)
        </dd>

    </dl>
    <hr />
    <div>
        <a type="Button" class="btn btn-outline-info" href=@Url.Action("Details", "Asiakasluokittelu", new { id = Model.LuokitteluID })>Takaisin</a>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" />

        </div>
    }

</div>


