@model asiakasrekisteri.Models.Asiakasluokittelu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lisätiedot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toimiala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimiala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liitto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liitto)
        </dd>

    </dl>
</div>
<hr />
<div>
    <a type="Button" class="btn btn-outline-info" href="@Url.Action("Edit", "Asiaksluokittelu", new {id = Model.LuokitteluID })">Muokkaa</a>
    <a type="Button" class="btn btn-outline-danger" href="@Url.Action("Delete", "Asiaksluokittelu", new {id = Model.LuokitteluID })">Poista tiedot</a>
    <a type="Button" class="btn btn-info" href="@Url.Action("Index", "Asiaksluokittelu", new {id = Model.LuokitteluID })">Takaisin</a>
</div>

