@model asiakasrekisteri.Models.Asiakasluokittelu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asiakasluokittelu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toimiala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimiala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liitto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liitto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LuokitteluID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
