@model IEnumerable<asiakasrekisteri.Models.Asiakasluokittelu>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h1 style="font-size:50px" class="text-xl-center">Asiakasluokittelu</h1>
<br />

<p>
    <a type="Button" class="btn btn-info btn-sm" href="@Url.Action("Create", "Asiakasluokittelu")">Lisää luokka</a>
</p>

<form class="form-inline my-2 my-lg-0">
    <br />
    <input class="form-control mr-sm-2" type="text" href=@Html.TextBox("searching")>
    <button class="btn btn-primary btn-sm my-2 my-sm-0" type="submit">Search</button>
</form>

@using (Html.BeginForm("Index", "Asiakasluokittelu", FormMethod.Get))
{


}
<br />
<table class=" table table-hover">
    <thead style="color:darkblue" class="alert-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toimiala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liitto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuokitteluID)
            </th>
            <th></th>
            <th></th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody class="table-bordered">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:black">
                    No Match Any Document
                </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="text-capitalize">
                    <td>
                        @Html.DisplayFor(modelItem => item.Toimiala)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Liitto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LuokitteluID)
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a type="Button" class="btn btn-outline-info btn-sm" href="@Url.Action("Details", "Asiakasluokittelu", new {id = item.LuokitteluID })">Lisätietoja</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
