@model asiakasrekisteri.Models.Asiakastiedot

@{
    ViewBag.Title = "Details";
}

<br />
<br />


<div>
    <h4>Lisätiedot</h4>
    <hr />
    <p>

        

    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yhteyshenkilö)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yhteyshenkilö)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ytunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ytunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sähköposti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EriLaskutusosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EriLaskutusosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakasluokittelu.Toimiala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakasluokittelu.Toimiala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dd>

    </dl>
    <hr />
    <div>
        <a type="Button" class="btn btn-outline-info" href="@Url.Action("Edit", "Asiakastiedot", new {id = Model.Asiakasnumero })">Muokkaa tietoja</a>

        <a type="Button" class="btn btn-outline-danger" href="@Url.Action("Delete", "Asiakastiedot", new {id = Model.Asiakasnumero })">Poista tiedot</a>

        <a type="Button" class="btn btn-outline-info" href="@Url.Action("Index", "Asiakastiedot", new {id = Model.Asiakasnumero })">Takaisin</a>

        <input type="button" value="Tulosta tiedot" onclick="window.print()" class="btn btn-outline-warning" />
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Asiakasnumero }) |*@
</p>
