@model IEnumerable<asiakasrekisteri.Models.Postitoimipaikat>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h1 style="font-size:50px"  class="text-xl-center">Postitoimipaikat</h1>
<br />
<p>
    <a type="Button" class="btn btn-outline-info" href="@Url.Action("Create", "Postitoimipaikat")">Lisää</a>
</p>
<table class="table table-bordered">
    <thead class="alert-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postitoimipaikka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postinumero)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-bordered">
    @foreach (var item in Model)
    {
        <tr class="text-capitalize">
            <td>
                @Html.DisplayFor(modelItem => item.Postitoimipaikka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postinumero)
            </td>
            <td></td>
            <td></td>
            <td>
                <a type="Button" class="btn btn-outline-info" href="@Url.Action("Details", "Postitoimipaikat",new { id = item.PaikkakuntaID })">Lisätietoja</a>

            </td>
        </tr>
    }
    </tbody>
</table>
