@model asiakasrekisteri.Models.AccesLevels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccesLevels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccesslevelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
